page-about {
    ion-checkbox {
        margin-left: 10px;
    }

    .remove-ion-item {
        color: $eduyot-light;

        &.item.item-md .checkbox-md {
            margin-left: 10px;
        }

        &.item-md.item-block .item-inner {
            border: none;
        }
    }

    .about-content {
        padding-bottom: 100px;
    }

    .bottom-pos {
        position: fixed;
        bottom: -1px;
        right: 16px;
        left: 16px;
        padding-bottom: 2px;
        border-top: 1px solid $eduyot-dark3;
    }
}
