page-about {
    .title-large {
        font-size: 36px;
    }

    .app-descr {
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #fff;
        font-weight: 100;
        margin-top: 15px;
    }

    ion-checkbox {
        margin-left: 10px;
    }

    .remove-ion-item {
        color: $eduyot-dark;

        &.item.item-md .checkbox-md {
            margin-left: 10px;
        }

        &.item-md.item-block .item-inner {
            border: none;
        }
    }

    .about-content {
        padding-bottom: 100px;
        font-size: 20px;
        background-color: #f0f1f4;
        color: #000;

        padding-left: 20px;
        padding-right: 20px;
    }

    .bottom-pos {
        position: fixed;
        bottom: -1px;
        right: 16px;
        left: 16px;
        padding-bottom: 2px;
        border-top: 1px solid $eduyot-dark3;
    }
}
