
    .community-counter-container {
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

        font-size: 20px;

        .space {
            padding-right: 8px;
        }

        ion-icon {
            font-size: 18px;
        }
    }

