page-play-folder {
    .eduyot-title {
        height: 120px;
        background-color: #232326;
        background-image: url(../../assets/imgs/title.png);
        background-repeat: no-repeat;
    }
}
