<ion-header>
  <ion-navbar class="relative">
    <ion-title class="communities-title">
      בנתיבי שאול
    </ion-title>
    <div class="read-more-button" (click)="doReadMore()">
        {{readMore ? 'סגור' : 'קרא עוד'}}
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding class="eduyot-bg communities-content">
  <div class="read-more" 
       [class.read-more-open]="readMore" 
       [innerHTML]="about">
  </div>

  <div class="community-title">מחנות</div>
  <eduyot-group *ngFor="let camp of camps"
    [community]="camp"
    (click)="openCommunity(camp)">
  </eduyot-group>
  
  <div class="community-title">קהילות</div>
  <eduyot-group *ngFor="let community of communities"
    [community]="community"
    (click)="openCommunity(community)">
  </eduyot-group>
</ion-content>
