@import "../../../theme/variables";

ion-header {
    height: 150px;
    background-color: #000;
}

.community-title {
    font-size: 32px;
    font-weight: 600;
    color: #fff;

    position: absolute;
    width: 100%;
    top: 56px;
    right: 52px;
}

.addition-info {
    opacity: 0.61;
    position: relative;
    top: -6px;
}

.content {
    color: #000;
    font-size: 20px;
}

