page-community-info {
    .scroll-content {
        padding: 0 !important;
    }

    .community-title {
        font-size: 32px;
        font-weight: 600;
        color: #fff;

        position: absolute;
        width: 100%;
        top: 56px;
        right: 52px;
    }

    .addition-info {
        opacity: 0.61;
        position: relative;
        top: -6px;
    }

    .subtitle-title {
        height: 58px;
        line-height: 58px;
        background-color: #f0f1f4;
        color: #000;
        font-size: 20px;
        padding-right: 28px;
    }

    .content {
        color: #000;
        font-size: 20px;
        padding: 28px;
        text-align: justify;
    }
}
