page-home {
    
    ion-content.home-content {
        padding: 0;
        margin: 0;

        div.scroll-content {
            padding: 0;
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }

    .folder {
        font-size: 22px;
        padding: 16px;
        text-align: center;
        color: $eduyot-light;
        border-bottom: 1px solid $eduyot-dark3;
    }

    .folder-count {
        font-size: 16px;
        padding-top: 6px;
    }
}
