@import "../../../theme/variables";

$page-title-height: 218px;

ion-header {
    height: $page-title-height;

    &.no-image {
        height: 120px;
        background-color: #000;
    }
}

.title-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $page-title-height;
}

// second level of drill down
.community-title {
    position: absolute;
    bottom: 46px;
    right: 51px;
    font-size: 40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: 600;
    color: #fff;

    &.no-image {
        bottom: 20px;
    }
}

.addition-info {
    position: absolute;
    bottom: 16px;
    left: 27px;
    font-size: 20px;
}

.info-icon {
    font-size: 18px;
    position: relative;
    top: 3px;
}


