play-audio {

    .container {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-right: 28px;
        border-bottom: 1px solid #c7c7c7;
    }

    .info {
        display: flex;
        flex-direction: row;
        align-items: center;

        .image {
            padding-left: 10px;
            img {
                width: 43px;
                height: 43px;
                border-radius: 50%;
            }  
            
            .no-image {
                width: 43px;
                height: 43px;
                border-radius: 50%;
                background-color: #c7c7c7;
                font-size: 36px;
                padding-right: 8px;
                padding-top: 1px;
            }

            .no-image-icon {
                font-size: 22px;
                position: relative;
                top: -3px;
                left: -2px;
            }
        }

        .personLink {
            color: $eduyot-dark;
            font-size: 20px;
            position: relative;
            top: 2px;
        }
        
        .title {
            color: $eduyot-dark;
            font-size: 24px;
            font-weight: 800;
            position: relative;
            top: -4px;
        }
    }
    
}
