play-audio {

    .container {
        padding-bottom: 16px;
    }

    .title {
        padding-top: 16px;
        padding-bottom: 6px;
        color: $eduyot-light
    }

    .personLink {
        text-decoration: underline;
        cursor: pointer;
        
    }
}
