
<div class="container">
  <div class="info">
    <div class="image" (click)="gotoPerson()">
        <img *ngIf="imageExists" [src]="getImage()" />
        <ion-icon *ngIf="!imageExists" name="md-person" class="no-image"></ion-icon>
    </div>

    <div>
      <div class="person personLink" (click)="gotoPerson()">
        {{person.first}} {{person.last}}
      </div>
      <div class="title">
        {{playback.title}}
      </div>
    </div>
  </div>
 
  <audio controls>
    <source [src]="mp3FileName" type="audio/mpeg">
  </audio>
</div>
