page-person {
    .imageContainer {
        display: inline-block;
        padding: 5px;
        border: 1px solid $eduyot-dark;
    }

    .details {
        color: $eduyot-dark;

        tr td {
            padding-top: 16px;
        }
    }

    .detail-label {
        padding-left: 16px;
    }

    .description {
        color: $eduyot-dark;
        padding-top: 16px;
    }
}
