@import "../../../theme/variables";

    .container {
        position: relative;
        height: 116px;
        color: #fff;
        padding: 16px;
        margin-bottom: 12px;
        border: 5px solid #f0f1f4;
        overflow: hidden;
        background-color: $eduyot-dark3;
    }

    .title-image {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .group-name {
        position: absolute;
        font-size: 32px;
        font-weight: 600;
    }

    .group-info {
        position: absolute;
        bottom: 16px;
        font-size: 20px;

        ion-icon {
            font-size: 18px;
        }
    }

    .no-info {
        display: flex;
        width: calc(100% - 32px);
        justify-content: space-between;

        .goto-info-text {
            color: #fff150;
        }
    }

    .info-icon {
        font-size: 18px;
        position: relative;
        top: 3px;
    }

