<!-- subtitle-category -->
<ion-header>
  <img *ngIf="imageLink()" [src]="imageLink()" class="title-image" />

  <ion-toolbar>
    <ion-buttons slot="start"  style={{backToMainButtonStyle()}}>
      <ion-back-button
        class="font-16"
        [text]="'כל הקהילות'"
        [icon]="'chevron-forward-outline'"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="subtitle-community-title ">{{community.name}}</div>
  <community-counter [community]="community" (moreInfoRequested)="gotoMoreInfoPage()" class="community-counter">
  </community-counter>
</ion-header>

<ion-content class="ion-padding" style="margin-top: 100px">
  <div *ngFor="let subtitle of community.subtitles">
    <div *ngIf="subtitle.image"  (click)="gotoSubtitle(subtitle)">
      <img [src]="subTitleImageLink(subtitle.image)" class="subtitle-image"/>
    </div>
    <div class="subtitle-title" (click)="gotoSubtitle(subtitle)">
      {{subtitle.title}}
      <ion-icon *ngIf="subtitle.description" src="assets/svg/info.svg" class="info-icon"
          (click)="gotoSubtitleInfo(subtitle); $event.stopPropagation();"></ion-icon>
    </div>
  </div>
</ion-content>
