// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../assets/fonts/open-sans-hebrew.scss";

// @font-face {
//     font-family: "heb-regular";
//     src: url(../../assets/fonts/OpenSansHebrew-Regular.ttf) format("ttf");
// }

// @font-face {
//     font-family: "heb-bold";
//     src: url(../assets/fonts/OpenSansHebrew-Bold.ttf) format("ttf");
// }

// @font-face {
//     font-family: "heb-light";
//     src: url(../assets/fonts/OpenSansHebrew-Light.ttf) format("ttf");
// }

.heb-font {
    font-family: "OpenSansHebrew-Regular";
}

.heb-bold-font {
    font-family: "OpenSansHebrew-Bold";
}

.heb-light-font {
    font-family: "OpenSansHebrew-Light";
}


.toolbar-background {
    background-color: $eduyot-dark;
}

ion-title {
    height: 120px;
    background-color: $eduyot-dark;
    background-image: url(../assets/imgs/title.png);
    background-repeat: no-repeat;
}

.eduyot-bg {
    background-color: $eduyot-dart2;
}