// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../assets/fonts/next-exit-hebrew.scss";

.heb-font {
    font-family: "NextExitRegular";
}

.heb-bold-font {
    font-family: "NextExitBold";
}

.heb-extra-bold-font {
    font-family: "NextExitExtraBold";
}

.heb-light-font {
    font-family: "NextExitLight";
}


.toolbar-background {
    background-color: $eduyot-dark;
}

ion-title {
    height: 120px;
    /*background-color: $eduyot-dark;
    background-image: url(../assets/imgs/title.png);
    background-repeat: no-repeat;
    */
}

.eduyot-bg {
    background-color: $eduyot-light;
}

.subpage-back-btn {
    .back-button {
        position: relative;
        top: -29px;
    }
}

.subpage-title {
    position: relative;
    top: -30px;
    right: -18px;
    padding-right: 0;
}

.title-center {
    text-align: center;
    .toolbar-title-md {
        padding-top: 48px;
        font-size: 24px;
    }
}

ion-content.eduyot-content {
    padding: 0;
    margin: 0;
    color: $eduyot-light;

    div.scroll-content {
        padding: 0;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.relative {
    position: relative;
}

