eduyot-group {

    .container {
        position: relative;
        height: 126px;
        padding: 16px;
        border: 5px solid #f0f1f4;
        background-color: $eduyot-dark3;
        color: #fff;
    }

    .group-name {
        font-size: 32px;
        font-weight: 600;
    }

    .group-info {
        position: absolute;
        bottom: 16px;
        font-size: 20px;

        .space {
            padding-right: 8px;
        }

        ion-icon {
            font-size: 18px;
        }
    }
}
