<div class="container">
    <img *ngIf="community.titleImage" [src]="imageLink" class="title-image" />
    <div class='group-name heb-bold-font'>{{community.name}}</div>
    <community-counter *ngIf="community.playbackCount" 
      class='group-info'
      [community]="community">
    </community-counter>

    <div *ngIf="community.playbackCount === 0" 
         class='group-info no-info'>
      <div>
          <ion-icon name="custom-info"></ion-icon>  
          במקום זה אין עדויות</div>
      <div class="goto-info-text">ראה מידע אודות המקום</div>
    </div>
  </div>