@import "../../../theme/variables";

ion-header {
    height: 100px;
    background-color: #000;
}
    .imageContainer {
        position: absolute;
        top: 40px;
        transform: translateX(50%);
        right: 50%;
        z-index: 999;

        img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }

        .no-image {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background: #fff;

            .no-image-icon {
                font-size: 72px;
                position: relative;
                top: 22px;
                right: 22px;
            }
        }
    }

    .person-name {
        margin-top: 50px;
        font-size: 30px;
        font-weight: 800;
        text-align: center;
    }

    .person-playback-count {
        padding-top: 10px;
        font-size: 20px;
        text-align: center;

        .microphone-custom {
            font-size: 1em;
            position: relative;
            top: 2px;
        }
    }

    .seperator {
        margin-top: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #c7c7c7;
    }

    .details {
        color: $eduyot-dark;
        font-size: 20px;

        tr td {
            padding-top: 16px;
            vertical-align: top;
        }
    }

    .detail-label {
        padding-left: 16px;
        width: 150px;
    }

    .description {
        color: $eduyot-dark;
        padding-top: 16px;
    }

