<ion-header>
  <img *ngIf="imageLink()" [src]="imageLink()" class="title-image" />

  <ion-navbar class="playback-navbar subpage-back-btn" [class.no-image]="! imageLink()">    
      <ion-title >חזור ל{{community.name}}</ion-title>
      <div class="community-title heb-bold-font"
        [class.no-image]="! imageLink()">{{subtitle.title}}</div>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <play-audio *ngFor="let playback of subtitle.playbacks" 
    [playback]="playback"
    [person]="getPerson(playback.personId)"
    (showPerson)="gotoPerson($event)"
    (play)="onPlay($event)">
  </play-audio> 
</ion-content>
